body,
html {
  background-color: #ece6e6;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.navbar {
  background: linear-gradient(to right, #516a85, #2b4c70, #0b2745);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar img {
  height: 70px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ceb87c;
}

.home-section {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 120px;
  height: 400px;
}

.home-section h1 {
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-section p {
  font-size: 20px;
  margin-bottom: 70px;
  padding: 0 10%;
}

.btn {
  background-color: #b99a45;
  color: white;
  padding: 15px 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a68b3e;
}

.service-section {
  text-align: center;
  padding: 10px 20px;
}

.service-section ul {
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-box {
  background-color: #3a628a;
  padding: 40px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: background-color 0.3s ease;
  width: 80%;
  height: 200px;
}

.service-box:hover {
  background-color: #142d44;
  color: #a68b3e;
}

@media (max-width: 800px) {
  .home-section {
    padding: 100px 20px; /* Reduce el padding en pantallas pequeñas */
  }

  .home-section h1 {
    font-size: 7vw; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }

  .home-section p {
    font-size: 3vw; /* Ajusta el tamaño del texto en pantallas pequeñas */
    padding: 0 5%; /* Reduce el padding horizontal en pantallas pequeñas */
  }

  .btn {
    font-size: 3.5vw; /* Ajusta el tamaño del botón */
    padding: 10px 20px; /* Ajusta el padding del botón */
  }
  .service-section ul {
    grid-template-columns: 1fr;
  }

  .service-box {
    font-size: 5vw;
    height: 20vw;
  }
}
